<h1 id="tableLabel">Courses</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!courses"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="courses">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Difficulty</th>
            <th>Duration in minutes</th>
            <th>Date added</th>
            <th>Number of reviews</th>
            <th>Operations</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let course of courses">
            <td>{{ course.name }}</td>
            <td>{{ course.category }}</td>
            <td>{{ course.difficulty }}</td>
            <td>{{ course.durationInMin }}</td>
            <td>{{ course.dateAdded }}</td>
            <td>{{ course.numberOfReviews }}</td>
            <td>
                <a class = "btn btn-primary" [routerLink]="['/fetch-data', course.id]" routerLinkActive="active">Details</a> |
                <a class = "btn btn-info">Edit</a> |
                <a class = "btn btn-danger" (click)="delete(course.id)">Delete</a>
            </td>
        </tr>
    </tbody>
</table>

<p>Add a new course</p>


<input [(ngModel)]="name" />

<p>{{name}}</p>

<button (click)="submit()">Submit!</button>
